*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    object-fit: contain;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    /* padding: 2px 5px; */
}
.contacts{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 0.3rem;
}
.chat{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background: url('/static/img/snowflake-background-1.jpg');
}
.messages{
    flex-grow: 1;
    overflow: auto;
}
.interactions{
    display: flex;
    justify-self: flex-end;
    align-items: center;
}
.messagebox{
    flex-grow: 1;
}

.chat-padding{
    height: 200px;
}

/* Message div */
.message{
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.message .pfp{
    width: 3rem;
    height: 3rem;
    align-self: flex-start;
}
.message .content{
    margin-left: 0.6rem;
    word-wrap: break-word;
    flex-grow: 1;
}
.message .content .username{
    columns: #333;
    font-size: 1.1rem;
    font-weight: 600;
}
.pfp-img{
    border-radius: 50%;
    height: 45px;
}
.source{
    display: none;
    font-family: monospace;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
}
/* Interactions div */
.interactions{
    margin-bottom: 0.5rem;
}
.interactions .messagebox{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    height: 2rem;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    padding: 0.3rem;
    max-height: 8rem;
    overflow: auto;
}

#previewBox{
    display: none;
    min-height: 50px;
    max-height: 8rem;
    overflow: auto;
    padding: 2rem;
    padding-top: 0;
    border-top: solid 1px rgb(207, 207, 207);
}

/* Titlebar */
.title-bar{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    border-bottom: solid 1px rgb(158, 158, 158);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}
.title-bar img{
    height: 100%;
}
.title-bar h4{
    flex-grow: 1;
    font-weight: 400;
    padding-left: 0.7rem;
}

/* Contacts */
.contacts{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.self-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
.self-contact img{
    height: 100%;
    border-radius: 50%;
    margin-right: 0.3rem;
}
.contact-name{
    font-weight: 400;
    color: rgb(0, 0, 210);
}
.contact-title{
    font-weight: 400;
}
.searchbox{
    width: 80%;
    margin-bottom: 0.8rem;
}
.contact{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.3rem 0.6rem;
    height: 60px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.contact:hover{
    background-color: rgb(198, 198, 198);
}
.contact img{
    height: 100%;
    border-radius: 50%;
}
.contact .details{
    margin-left: 0.6rem;
}
.contact-current{
    background-color: rgb(198, 198, 198);
}

/* Misc */
.source-btn:hover{
    opacity: 80%;
}
.source-copy-btn:hover{
    cursor: pointer;
    opacity: 80%;
}

/* Auth */
#authOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authform{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 45px 15px;
}
.loginfield{
    padding: 0.3rem;
}
.login-page-logo{
    margin-bottom: 2rem;
}
.login-btn{
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: rgb(90, 90, 255);
    color: #f5f5f5;
    border: none;
    border-radius: 2px;
}
.login-btn:hover{
    cursor: pointer;
    background-color: rgb(106, 106, 255);
}
#usernameField{
    margin-bottom: 0.2rem;
}